{:deps  {russmatney/dino {:local/root "../../russmatney/dino"}}
 :paths ["src"]
 :tasks
 {:requires ([bb-godot.tasks :as tasks])
  :enter    (println "Running task:" (:name (current-task)))
  :init
  (do
    (def addons-map
      {:trolley :russmatney/dino
       :navi    :russmatney/dino
       :beehive :russmatney/dino}))

  watch      tasks/watch
  pixels     tasks/pixels
  build-web  tasks/build-web
  deploy-web (tasks/deploy-web "s3://beatemup3.russmatney.com")
  zip        tasks/zip

  addons         (tasks/addons addons-map)
  install-addons (tasks/install-addons addons-map)}}
