{:deps  {russmatney/dino {:local/root "../../russmatney/dino"}}
 :paths ["src"]
 :tasks
 {:requires ([bb-godot.tasks :as tasks])
  :enter    (println "Running task:" (:name (current-task)))

  watch      tasks/watch
  pixels     tasks/pixels
  build-web  tasks/build-web
  deploy-web (tasks/deploy-web "s3://beatemup3.russmatney.com")
  zip        tasks/zip

  install-addons
  (tasks/install-addons
    {:behavior_tree :kagenash1/godot-behavior-tree
     :trolley       :russmatney/dino
     :navi          :russmatney/dino})

  install-script-templates
  (tasks/install-script-templates
    #{"kagenash1/godot-behavior-tree/script_templates"})}}
